h1{
	color:white;
	margin-top: 1.5em;
}

hr{
	color:green;
}


h2{
	color: green;
}

body{
	
	margin: 2cm;
	font-family: sans-serif;
	background-color: red;
}
code{
	font-size: 1.5rem;
	color: gray;
}